*{
	box-sizing: border-box;
}

body{
	background: #F3F3F3;
}
.account{
	display: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 7px;
    width: 1154px;
    padding-right: 7px;
}

header.mainhead{
	height: 55px;
	border-bottom: 1px solid #EBEBEB;
	background: white; 
	position: fixed;
	width: 100%;
    margin-top: -15px;
    z-index: 99;
}

#guts{
	    padding-top: 50px;
}

ul.mainnav {margin: 0px; padding: 0px; list-style-type: none;display: flex;justify-content: space-between;}
ul.mainnav li{float: left;}
ul.mainnav li a{border-bottom: 3px solid white; text-decoration: none; display: block;padding: 13.5px 10px;margin-right: 41px;}
ul.mainnav li a:hover, ul.mainnav li a.current{border-bottom: 3px solid #1EA1DE;}

.navbar-brand{float: left;margin-top: 3px;}

#main-content{margin-top: 15px;}

.leftwrapper{
	position: fixed;
	width: 350px;
	padding-bottom: 15px;
	overflow: scroll;
	display: none;
	z-index: 99;
}

.leftwrapper .element{
	min-height: 100%;
}

.element{
	background: white;
    padding: 20px;
}