[submodule "libs/PHPMailer"]
	path = libs/PHPMailer
	url = git@github.com:PHPMailer/PHPMailer.git
[submodule "libs/mpdf"]
	path = libs/mpdf
	url = https://github.com/kartik-v/mpdf.git
[submodule "libs/braintreepayments"]
	path = libs/braintreepayments
	url = https://github.com/braintree/braintree_php.git
