[submodule "libs/PHPMailer"]
	path = libs/PHPMailer
	url = git@github.com:PHPMailer/PHPMailer.git
[submodule "libs/mpdf"]
	path = libs/mpdf
	url = https://github.com/kartik-v/mpdf.git
[submodule "libs/braintreepayments"]
	path = libs/braintreepayments
	url = https://github.com/braintree/braintree_php.git
[submodule "libs/sisow-php-wrapper"]
	path = libs/sisow-php-wrapper
	url = https://github.com/xvilo/Sisow-PHP-Wrapper.git
[submodule "libs/twilio"]
	path = libs/twilio
	url = git@github.com:twilio/twilio-php.git
[submodule "libs/mollie-api-php"]
	path = libs/mollie-api-php
	url = git@github.com:mollie/mollie-api-php.git
