Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^invoice/(\d+)*$ ./show-invoice.php?no=$1
RewriteRule ^user/(\d+)*$ ./user-data.php?id=$1
RewriteRule ^logout/(\d+)*$ ./logout.php?id=$1
RewriteRule ^login/(\d+)*$ ./login.php?id=$1
 
#admin
RewriteRule ^create/(.*)$ ./create.php?query=$1